<!DOCTYPE html>
<html lang="zh-CN">

{#网页头部#}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ request.path }}</title>
        <link href="/static/kingadmin/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/kingadmin/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="/static/kingadmin/css/dashboard.css" rel="stylesheet">
        <link href="/static/kingadmin/plugins/dropzone.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/kingadmin/css/jquery.bxslider.css">

        {% block table-css %}

        {% endblock %}

    </head>


{#body#}
        {% block body %}

        {% endblock %}


{#脚本#}
    <script src="/static/kingadmin/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/kingadmin/js/jquery.min.js"></script>
    <script src="/static/kingadmin/plugins/dropzone.js"></script>
    <script src="/static/kingadmin/js/bootstrap.min.js"></script>
    <script src="/static/kingadmin/js/holder.min.js"></script>
    <script src="/static/kingadmin/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/kingadmin/js/jquery.bxslider.js"></script>
    <script src="/static/js/myjs.js"></script>
    <script src="/static/js/myjs.js"></script>
        {% block script-list %}
        {% endblock %}

</html>