{% extends 'king_admin/king_admin_info.html' %}
{% load king_admin_tags %}

{% block content-right %}
    <div class="row">
         <ul class="breadcrumb" >
           <li ><a href="/king_admin/" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
           <li >{{ app_name }}</li>
           <li ><span id="table-name"><a href="/king_admin/{{ app_name }}/{{ table_name }}/">{% render_app_name admin_class %}</a></span></li>
           <li >修改密码</li>
         </ul>
    </div>

    <div class="row col-md-4 col-xs-8 col-sm-4 col-xs-offset-1 ">
        <div class="panel">
              <div class="row panel-heading">
                 <h3 class="panel-title">用户：{{ obj.email }}</h3>
              </div>
              <div class="panel-body">
                  <form action="" method="post">
                      {% csrf_token %}
                       <div class="row ">
                          <label for="" >新密码：</label>
                          <input name="password1" type="password" maxlength="64" class="form-control" >
                       </div>
                       <div class="row">
                          <label for="" >再次输入新密码：</label>
                          <input name="password2" type="password" maxlength="64" class="form-control" >
                       </div>
                       <br>
                       <div class="row">
                            <button type="submit" class="btn btn-success ">确认修改并提交</button>
                            <a class="btn btn-default" href="{{ return_url_path }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"  >取消</span></a>
                       <br>
                       <br>
                       </div>
                  </form>
               </div>
        </div>
        <span style="color: red">{{ errors }}</span>
    </div>
{% endblock %}