{% extends 'king_admin/king_admin_index_base.html' %}
{% load king_admin_tags %}

      {% block title-login %}
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.name }}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">配置</a></li>
                          <li><a href="{% url 'home' %} ">注销</a></li>
                      </ul>
                  </li>
              </ul>
      {% endblock %}

      {% block menu-left %}

          {% if menus %}
             {% for first_menu,second_menus in menus.items %}
                 <dl >
                      <dt id="menu" class="btn btn-link" name="{{ first_menu }}" >
                          <h3 class="btn-link" style="color: black">{{ first_menu }}</h3>
                      </dt>
                      {% for second_menu_name,second_menu_url in second_menus.items %}
                          <dd class=" nav nav-pills nav-stacked " hidden >
                              <a class="btn-sm" href="/king_admin/{{ first_menu | lower }}/{{second_menu_url}}/" >{{ second_menu_name }}</a>
                          </dd>
                      {% endfor %}
                 </dl>
             {% endfor %}
          {% else %}
              <div>(空)</div>
          {% endif %}
      {% endblock %}


      {% block menu-right %}
            <img src="/static/kingadmin/img/indexBanner.png" width="100%" height="100%" alt="">
      {% endblock %}


    {% block script-list %}

            <script>
            $(function () {
                $.Menu();
            });
            </script>
        {% block script-index %}
        {% endblock %}
    {% endblock %}
