{% extends 'king_admin/king_admin_table_objs.html' %}
{% load king_admin_tags %}

{% block menu-add %}
    <li >修改密码</li>
{% endblock %}

{% block menu-right %}
            <div class="panel">
                  <div class="panel-heading">
                     <h3 class="panel-title">用户：{{ obj.email }}</h3>
                  </div>
                  <div class="panel-body">
                      <form action="" method="post">
                          {% csrf_token %}
                           <div>
                              <label for="" >新密码：</label>
                              <input name="password1" type="password" maxlength="64" class="form-control" style="width: 300px">
                          </div>
                           <div>
                              <label for="" >再次输入新密码：</label>
                              <input name="password2" type="password" maxlength="64" class="form-control" style="width: 300px">
                          </div>
                          <br>
                            <button type="submit" class="btn btn-success ">确认修改并提交</button>
                            <a class="btn btn-default" href="{{ return_url_path }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"  >取消</span></a>
                      </form>
                   </div>
            </div>
         <span style="color: red">{{ errors }}</span>

{% endblock %}