
{% extends 'king_admin/king_admin_base.html' %}

{% block table-css %}
     <link href="/static/kingadmin/css/cover.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">CRM后台管理系统</a>
            </div>

        </div>
    </nav>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">页面错误：403</h1>
            <h3 class="cover-heading">Lost your page.</h3>
            <p class="lead">Please visit other interfaces or follow the prompts below</p>
            <p class="lead">
              <a href="/king_admin/login/" class="btn btn-lg btn-default">登录入口</a>
              <a href="/king_admin/" class="btn btn-lg btn-default">返回主界面</a>
            </p>
          </div>

        </div>

      </div>

    </div>

</body>
{% endblock %}
