
{% extends 'base.html' %}

{% block table-css %}
     <link href="/static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="site-wrapper">

          <div class="site-wrapper-inner">

            <div class="cover-container">

              <div class="inner cover">
                  <br>
                  <h1 class="cover-heading">暂未开发...还没有开始爬新闻网页...</h1>

              </div>

            </div>

          </div>

        </div>
    </div>
{% endblock %}
