{% extends 'students/students_home.html' %}
{% load students_tags %}


 {% block menu-navigation %}
      <!--导航条-->
<!--===================================================-->

  <ol class="breadcrumb" style="font-size: large">
      <li ><span href="" >students</span></li>
      <li ><span id="table-name"><a href="/students/classlist/">班级表</a></span></li>
      {% block menu-add %}{% endblock %}
  </ol>

{% endblock %}

{% block menu-right %}
              <!--显示功能-->
    <!--===================================================-->
      <div class="panel-body " style="overflow: auto" >


                        <!--显示内容-->
                <!--===================================================-->
            <table class="table table-hover">

                        <!--显示标题并实现排序功能-->
                <!--===================================================-->
                <thead>
                      <tr class="breadcrumb">
                          {% course_title course_list.0 course_display%}
                      </tr>
                </thead>

                    <!--显示数据字段详细信息-->
              <!--===================================================-->
                <tbody>

                      {% for column in course_list %}
                            <tr>
                                {% built_table_row column course_display stu_enroll_dict%}

                            </tr>
                      {% endfor %}

                </tbody>
            </table>
      </div>


{% endblock %}

{% block script-list %}
    <script>

        active_ele=$('span#table-name').text();
        $('li#menu a').each(
            function () {
            if($(this).text()==active_ele){
                $(this).parent().addClass('active ');
            }
        });

    </script>
    {% block script-obj %}
    {% endblock %}
{% endblock %}