{% extends 'students/students_home.html' %}
{% load students_tags %}

 {% block menu-navigation %}
      <!--导航条-->
<!--===================================================-->

  <ol class="breadcrumb" style="font-size: large">
      <li ><span href="" >students</span></li>
      <li ><span id="table-name"><a href="/students/my_course/">我的课程</a></span></li>
      {% block menu-add %}{% endblock %}
  </ol>

{% endblock %}


            {% block menu-right %}

                {% stu_class stu_classlist %}

                    <div class="row">
                        <label class="form-group" style="color: #5bc0de">页面优化待完善...</label>
                    </div>

            {% endblock %}


{#{% block script-list %}#}
{#    <script>#}
{##}
{#        active_ele=$('span#table-name').text();#}
{#        $('li#menu a').each(#}
{#            function () {#}
{#            if($(this).text()==active_ele){#}
{#                $(this).parent().addClass('active ');#}
{#            }#}
{#        });#}
{##}
{#    </script>#}
{#    {% block script-obj %}#}
{#    {% endblock %}#}
{#{% endblock %}#}