{% extends 'students/stu_course_list.html' %}

{% block content-right %}
    <div class="row ">
      <ul class="breadcrumb" >
          <li ><a href="/students/" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
          <li ><span id="table-name"><a href="/students/classlist/">班级表</a></span></li>
          <li >报名2</li>
          <li >付款</li>
      </ul>
    </div>

    <form action="" class="form-horizontal" role="form" method="post" >
        {% csrf_token %}
        <div>
            <label for="">{{ enroll_obj.customer }}</label>
        </div>
        <div>
            <label for="">所报班级：{{ enroll_obj.enrolled_class }}</label>
        </div>
        <div>
            <label for="">课程费用：{{ price }}元</label>
        </div>

        {% for field in payment_form %}
            <div>
                <label  for="">付款{{ field.label }}(元):</label>{{ field }}
            </div>
        {% endfor %}
        <div>
            {{ msg }}
        </div>
        <br>
        <div  ><button type="submit" class="btn btn-success pull-left">付款</button></div>
    </form>
{% endblock %}