{% extends 'students/stu_index.html' %}
{% load students_tags %}
{% block title-label %}我的课程 | 学员 | 网络培训CRM | {% endblock %}


{% block content-right %}
    <div class="row ">
      <ul class="breadcrumb" >
          <li ><a href="/students/" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
          <li ><span id="table-name"><a href="/students/my_course/">我的课程</a></span></li>
      </ul>
    </div>

    <div class="row col-xs-offset-1">
    {% stu_class stu_classlist %}
        <label class="form-group" style="color: #5bc0de">页面优化待完善...</label>
    </div>
{% endblock %}
