{% extends 'base.html' %}

{% block body %}
    <div class="container" style="max-width: 300px">
        <form class="form-signin" method="post">
              {% csrf_token %}
            <h2 class="form-signin-heading">{{ role }}登陆界面</h2>

            <label for="email" class="sr-only">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" >
              <br>

            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" >

            {% if errors  %}
                <span style="color: red">{{errors.error }}</span>
            {% endif %}

            <div class="item">
                <p class="remember">
                    <input type="checkbox" id="remember" name="remember" tabindex="4">
                    <label for="remember" class="remember">下次自动登录</label> | <a href="">忘记密码了</a>
                </p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

        </form>

        <br>
            {% block registered %}

            {% endblock %}
        <br>
    </div>
{% endblock %}