
{% extends 'base.html' %}

    {% block tabel-css %}

                 <style>
                   H4{
                       text-indent: 2em;
                   }
                 </style>
    {% endblock %}

{% block body %}

{#<body>#}
{#body头部#}
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <p class="navbar-brand" href="">HaveFan</p>
          </div>

      </div>
   </nav>

{#body中上部#}

   <div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px">
      <div class="container">
          <h2>Tips：</h2>
          <h4>
               <strong>You can walk around here, and also leave a footprint, but please don't trample the flowers, if you find BUG, please feel free to give feedback, thank you!
               </strong>
          </h4>
          <h4>您可以在这里走来走去，还能留下足迹(增添数据)，但是请不要践踏花草(删除数据)，如您发现BUG，烦请您及时反馈，谢谢！</h4>
      </div>
   </div>

{#body中下部#}
    <div class="container">
        <div class="row" style="margin-top: -25px">
            <ul class="bxslider">

                <li style="text-align: center">
                    <p style="display: inline-block;margin: 0 30px;"><a href="/accounts/login_choice/" ><img src="/static/img/2.jpg" class="img-circle " width="250" height="250"/><strong>网络培训CRM管理系统</strong></a></p>
                    <p style="display: inline-block;margin: 0 30px;"><a href="" ><img src="/static/img/1.jpg" class="img-circle " width="250" height="250"/><strong>其他</strong></a></p>
                    <p style="display: inline-block;margin: 0 30px;"><a href="" ><img src="/static/img/3.jpg" class="img-circle " width="250" height="250"/><strong>分布式监控系统后台入口</strong></a></p>
                </li>

                <li style="text-align: center">
                    <p style="display: inline-block;margin: 0 30px;"><a href="" ><img src="/static/img/U10729P693DT20140517155919.jpg" class="img-circle " width="250" height="250"/><strong>门户网站暂未开发</strong></a></p>
                    <p style="display: inline-block;margin: 0 30px;"><a href="" ><img src="/static/img/VersaillesGhosts_ZH-CN11794136165_1920x1080.jpg" class="img-circle " width="250" height="250"/><strong>正在开发</strong></a></p>
                    <p style="display: inline-block;margin: 0 30px;"><a href="" ><img src="/static/img/201161613210543778070.jpg" class="img-circle " width="250" height="250"/><strong>正在开发</strong></a></p>
                </li>
            </ul>
        </div>
    </div>

{#</body>#}

{#网页底部#}
<footer>
    <div style="text-align: center;">
        <p>© 2018 Company...</p>
    </div>
</footer>

{% endblock %}

{% block script-list %}

    <script>
    $(function(){
    $('.bxslider').bxSlider({
        auto:true,
    });
});
    </script>
{% endblock %}