
{% extends 'base.html' %}

{% block index %}
    <div class="jumbotron" style="margin-top: -10px">
        <h1>Tips：</h1>
        <p><strong>You can walk around here, and also leave a footprint, but please don't trample the flowers, if you find BUG, please feel free to give feedback, thank you!
        </strong>您可以在这里走来走去，还能留下足迹(增添数据)，但是请不要践踏花草(删除数据)，如您发现<strong>BUG</strong>，烦请您及时反馈，谢谢！</p>
        <p><a class="btn btn-primary btn-large" href="#detail">网站导读</a></p>
    </div>
{% endblock %}


{% block content %}
    <div id="detail" class="row clearfix">
        <div class="col-md-4 column">
            <h2>CRM</h2>
            <p>CRM管理系统模拟了网络培训后台管理系统，包括登录角色分配，依托django自带的权限管理模块重构适合本系统的权限认证功能，重写部分django框架下admin的功能，数据存储用的是mysql数据库，
               用户登录验证码功能用到了redis缓存数据库，等等...</p>
            <p><a class="btn" href="/accounts/login_choice/">进入 »</a></p>
        </div>
        <div class="col-md-4 column">
            <h2>百家影音&新闻</h2>
            <p>
                该模块通过自己学到的爬虫技术，主要是利用了python的scrapy框架，从网络上爬取一些有趣内容放到站点供自己和有兴趣的小朋友们观看，饼虽小，但味道狠beautiful、而且十分sex，那“sex”希望诸君不要往邪恶的地方想，肯定是健康内容呀，难道你想的是……
             </p>
            <p><a class="btn" href="/film/see/">进入 »</a></p>
        </div>
        <div class="col-md-4 column">
            <h2>其他隐藏功能</h2>
            <p>小撸怡情、大撸伤身、樯橹灰飞烟灭，据说是苏轼写的，看人家文采多好……，不要点了，点了也没有—.—!</p>
            <p><a class="btn" href="#">进入 »</a></p>
        </div>
    </div>
{% endblock %}
