{% extends 'base.html' %}

{% block body %}

    <div class="container" style="max-width: 350px">
        <br>
    <h2>登录窗口选择：</h2>

        <a  href="/accounts/king_admin/login/"><button class="btn btn-lg  btn-block">管理员登录入口&gt;&gt;</button></a>
        <br>
        <a href="/accounts/crm/login/"><button class="btn btn-lg  btn-block">销售登录入口&gt;&gt;</button></a>
        <br>
        <a href="/accounts/teachers/login/"><button class="btn btn-lg  btn-block">讲师登录入口&gt;&gt;</button></a>
        <br>
        <a href="/accounts/students/login/"><button class="btn btn-lg  btn-block">学生登录入口&gt;&gt;</button></a>
        <br>
        <a class="btn-lg btn-block" href="/accounts/">返回主界面</a>

    </div>
{% endblock %}