{% extends 'base.html' %}
{% block title-label %}网络培训CRM | {% endblock %}


{% block content %}
	 <div class="row clearfix">
        <div class="col-md-4 "></div>
        <div class="col-md-4 ">
            <form class="form" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">{{ role }}登录:</h2>
                <input type="email" name="email" class="form-control" placeholder="请输入账号/注册邮箱" >
                <br>
                <input type="password" name="password" class="form-control" placeholder="请输入密码" >
                <a href="."><img  src="/static/verif_img/{{ filename }}.png">刷新</a>
                <br>
                <input  type="text" name="verify_code" class="form-control" placeholder="请输入验证码">
                <br>
                <input  type="hidden" name="verify_code_key" value="{{ filename }}" >
                {% if errors  %}
                    <span style="color: red">{{errors}}</span>
                {% endif %}

                <div class="item">
                    <p class="remember">
                        <input type="checkbox" id="remember" name="remember" tabindex="4">
                        <label for="remember" class="remember">下次自动登录</label> | <a href="#">忘记密码了</a>
                    </p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                <br>
            </form>

            {% if app_name == 'students' %}
            <a href="/students/registered/"><button class="btn btn-lg  btn-block" >注册</button></a>
            {% endif %}
            <a class="btn-lg btn-block" href="/">返回主界面</a>
        </div>

        <div class="col-md-4 "></div>
     </div>
{% endblock %}
