
{% extends 'base.html' %}

{% block table-css %}
     <link href="/static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">页面错误：403</h1>
            <h3 class="cover-heading">Lost your page.({{ errors }})</h3>
            <p class="lead">Please visit other interfaces or follow the prompts below</p>
            <p class="lead">
              <a href="/{{ app_name }}/login/" class="btn btn-lg btn-default">返回登录窗口</a>
{#              <a href="/{{ app_name }}/" class="btn btn-lg btn-default">返回主界面</a>#}
            </p>
          </div>

        </div>

      </div>

    </div>

{% endblock %}
