
{% extends 'base.html' %}

{% block table-css %}
     <link href="/static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <img style="max-width: 140px;max-height: 140px" src="/static/img/403.jpg" alt="哈哈">
            <h1 class="cover-heading">页面错误：404</h1>
            <h3 class="cover-heading">页面不存在.</h3>
            <p class="lead">Please visit other interfaces or follow the prompts below</p>
          </div>

        </div>

      </div>

    </div>
</div>

{% endblock %}
