{% extends 'crm/info_find.html' %}

{% load crm_tags %}

{% block title-label %}我的客户 | 网络培训CRM | {% endblock %}
    {% block menuadd %}
          <li ><span id="table-name"><a href="/{{ app_name }}/my_customers/">我的客户</a></span></li>
          <li >修改</li>

   {% endblock %}

                {% block button %}
                 <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok" aria-hidden="true">提交</span></button>
                <a class="btn btn-default " href="/{{ app_name }}/my_customers/">返回</a>

                {% endblock %}