{% extends 'crm/sales_index.html' %}
{% load crm_tags %}


 {% block menu-navigation %}
      <!--导航条-->
<!--===================================================-->

  <ol class="breadcrumb" style="font-size: large">
      <li ><span href="" >{{ app_name }}</span></li>
      <li ><span id="table-name"><a href="/{{ app_name }}/{{ table_name }}/">我的客户</a></span></li>
      {% block menu-add %}{% endblock %}
  </ol>
{% block btn-add %}
<a class="navbar-right" style="position: relative;top: -50px;right: 50px" href="{% url 'crm:customer_add' %}">新增</a>
 {% endblock %}
{% endblock %}

{% block menu-right %}
              <!--显示功能-->
    <!--===================================================-->
      <div class="panel-body " style="overflow: auto" >
                        <!--显示内容-->
                <!--===================================================-->
            <table class="table table-hover">

                        <!--显示标题并实现排序功能-->
                <!--===================================================-->
                <thead>
                      <tr class="breadcrumb">
                      <th style="width: 20px">
                          <input  type="checkbox" id="all-choiced">
                      </th>
                      {% for column in admin_class.list_display %}
                          {% if column != 'enroll' %}
                          <th>
                              {% buile_table_header_column admin_class column orderby_key filter_condition %}
                          </th>
                          {% endif %}
                      {% endfor %}
                      </tr>
                </thead>

                    <!--显示数据字段详细信息-->
              <!--===================================================-->
                <tbody>

                      {% for obj in query_sets %}
                            <tr>
                                <td >
                                    <input id="choiced-field" type="checkbox" value="{{ obj.id }}">
                                </td>
                                {% built_table_row obj admin_class request %}
                            </tr>
                      {% endfor %}
                </tbody>
            </table>

          <!--统计-->
      <!--===================================================-->
            <p>总计{{ query_sets.paginator.count }}条记录</p>

          <!--分页栏-->
      <!--===================================================-->
          <div class="pagination">
              <nav aria-label="...">
                  <ul class="pagination">
                      {% page_index query_sets filter_condition previous_orderby search_key %}
                  </ul>
              </nav>
          </div>
      </div>


{% endblock %}

{% block script-list %}
    <script>

        active_ele=$('span#table-name').text();
        $('li#menu a').each(
            function () {
            if($(this).text()==active_ele){
                $(this).parent().addClass('active ');
            }
        });

{#实现多选功能#}
{#        $('input#all-choiced').click(function () {#}
{#            if($('input#all-choiced').prop('checked')){#}
{#                $('input#choiced-field').each(function () {#}
{#                 if ($(this).prop('checked',false)){#}
{#                     $(this).prop('checked',true);#}
{#                 }#}
{#             })#}
{#            }#}
{#        });#}
{#提交action时将id传给后台#}
{#        function ActionSubmit(form_ele) {#}
{#            var selected_list=[];#}
{#            $('input#choiced-field:checked').each(function () {#}
{#                selected_list.push($(this).val());#}
{#            });#}
{#            var selected_action=$('select#select-value').val();#}
{#            if (selected_list.length == 0 ){#}
{#                alert('请至少选择一列选项');#}
{#                return false;#}
{#            }#}
{#            if (!selected_action){#}
{#                alert('请选择action功能');#}
{#                return false;#}
{#            }#}
{#            var ele="<input name='selected_list' type='hidden' value='"+selected_list.toString()+"'>";#}
{#            $(form_ele).append(ele);#}
{#            return true;#}
{#        }#}
    </script>
    {% block script-obj %}
    {% endblock %}
{% endblock %}