{% extends 'crm/sales_index.html' %}
{% load crm_tags %}
{% block title-label %}我的客户 | 网络培训CRM | {% endblock %}

{% block content-right %}
    <div class="row ">
      <ul class="breadcrumb" >
          <li ><span ><a href="/{{ app_name }}/" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></span></li>
          <li ><span id="table-name"><a href="/{{ app_name }}/{{ table_name }}/">我的客户</a></span></li>
          <a class="navbar-right" href="{% url 'crm:customer_add' %}">新增</a>
      </ul>
    </div>

 <div class="rowtable-bordered ">
            <form method="get" action="">
                {% csrf_token %}
                          <!--查询检索栏-->
                    <!--===================================================-->
                {% if  admin_class.list_filters %}
                    <div class="row ">
                          {% for condition in admin_class.list_filters %}
                              <div class="col-lg-3 col-md-6 col-sm-6 ">
                               <span >{% get_key_val  condition admin_class  %}-</span>
                               {% render_filter_eme  condition admin_class filter_condition %}
                             </div>
                          {% endfor %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                          <button type="submit" class="btn btn-primary btn-sm ">检索</button></div>
                    </div>
                {% endif %}
                <br class="visible-xs">
                          <!--关键字搜索栏-->
                    <!--===================================================-->
                <div class="row" >
                      <div class="col-lg-3 col-md-3 col-sm-3" >
                          <input name="_q" type="text" class='form-control input-sm' placeholder="{% for i in admin_class.list_search %}{% search_name i admin_class %}&nbsp;{% endfor %}" value="{{ search_key }}">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3"><button type="submit" class="btn btn-primary btn-sm" >查找关键字</button></div>

                </div>
            </form>
{#        </div>#}
            <br>

                      <!--自定义action功能选项-->
                <!--===================================================-->
            <form method="post" onsubmit="return ActionSubmit(this)" id="Addfieldsid">
                {% csrf_token %}
                <select class='btn-sm form-group ' name="action" id="select-value">
                    <option value="">------------------</option>
                    {% for func_list in admin_class.list_action %}
                        <option value="{{ func_list}}">{% func_name func_list admin_class %}</option>
                    {% endfor %}
                </select>
                <button class=" btn btn-sm"  type="submit"  >Go</button>
            </form>






         <div class="panel">

                <div class="panel-body">
            <div class="table-responsive">

                        <!--显示内容-->
                <!--===================================================-->
            <table class="table table-responsive">

                        <!--显示标题并实现排序功能-->
                <!--===================================================-->
                <thead>
                      <tr class="breadcrumb">
                      <th >
                          <input  type="checkbox" id="all-choiced">
                      </th>
                      {% for column in admin_class.list_display %}
                          {% if column != 'enroll' %}
                          <th>
                              {% buile_table_header_column admin_class column orderby_key filter_condition %}
                          </th>
                          {% endif %}
                      {% endfor %}
                      </tr>
                </thead>

                    <!--显示数据字段详细信息-->
              <!--===================================================-->
                <tbody>

                      {% for obj in query_sets %}
                            <tr>
                                <td >
                                    <input id="choiced-field" type="checkbox" value="{{ obj.id }}">
                                </td>
                                {% built_table_row obj admin_class request %}
                            </tr>
                      {% endfor %}
                </tbody>
            </table>


          </div>
        </div>
        </div>





          <!--统计-->
      <!--===================================================-->
            <p>总计{{ query_sets.paginator.count }}条记录</p>

          <!--分页栏-->
      <!--===================================================-->
          <div class="pagination">
              <nav aria-label="...">
                  <ul class="pagination">
                      {% page_index query_sets filter_condition previous_orderby search_key %}
                  </ul>
              </nav>
          </div>
      </div>


{% endblock %}

{% block script-list %}
    <script>

        active_ele=$('span#table-name').text();
        $('li#menu a').each(
            function () {
            if($(this).text()==active_ele){
                $(this).parent().addClass('active ');
            }
        });

{#实现多选功能#}
{#        $('input#all-choiced').click(function () {#}
{#            if($('input#all-choiced').prop('checked')){#}
{#                $('input#choiced-field').each(function () {#}
{#                 if ($(this).prop('checked',false)){#}
{#                     $(this).prop('checked',true);#}
{#                 }#}
{#             })#}
{#            }#}
{#        });#}
{#提交action时将id传给后台#}
{#        function ActionSubmit(form_ele) {#}
{#            var selected_list=[];#}
{#            $('input#choiced-field:checked').each(function () {#}
{#                selected_list.push($(this).val());#}
{#            });#}
{#            var selected_action=$('select#select-value').val();#}
{#            if (selected_list.length == 0 ){#}
{#                alert('请至少选择一列选项');#}
{#                return false;#}
{#            }#}
{#            if (!selected_action){#}
{#                alert('请选择action功能');#}
{#                return false;#}
{#            }#}
{#            var ele="<input name='selected_list' type='hidden' value='"+selected_list.toString()+"'>";#}
{#            $(form_ele).append(ele);#}
{#            return true;#}
{#        }#}
    </script>
    {% block script-obj %}
    {% endblock %}
{% endblock %}