{% extends 'home_base.html' %}

{% block tag %}
{% load crm_tags %}
{% endblock %}

{% block logout %}
      <li><a href="{% url 'crm:crm_logout' %} ">注销</a></li>
{% endblock %}

{% block menu_left %}

          <ul class="nav nav-sidebar">
            <li class="active"><a href="/crm/">销售人员CRM首页<span class="sr-only">(可以隐藏)</span></a></li>
          </ul>
          {% for app_name,table_obj in menus.items %}
          <ul class="nav nav-sidebar">
             {% for table in table_obj %}
                 <li id="menu"><a href="/{{ app_name.url_name }}{{table.url_name}}">{{ table.name }}</a></li>
             {% endfor %}
                 <li id="menu"><a href="/crm/my_customers/">我的客户</a></li>
          </ul>
          {% endfor %}

{% endblock %}
